@charset "UTF-8";
body{
    line-height: 1.0;
    font-size: 1em;
    font-family:
     "游ゴシック LIGHT","LINE Seed JP_TTF", "Lato Hairline", "Work Sans",sans-serif;
     font-weight: lighter;
    color: black;
}
a,
a:link{
    color:black;
    text-decoration-line: none;
}
a:visited{
    color:black;
}

a{
    position: relative;
}

.nav a::after{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #555;
    bottom: -1px;
    visibility: hidden;
    opacity: 0;
}

.nav a:hover::after{
    visibility: visible;
    opacity: 1;
    transition:1s;
}

.SNS a:hover{
    text-decoration: none;
    color: #555;
}


    /* 一個目 */
    .pro h2{
        text-align: left;
        margin: 0 0 1em 0;
    }

/* header */

h1.rogo img {
    width: 50vw;
    height: auto;
    text-align: left;
}

.ue{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ue .instagram{
    width: 24px;
    margin: 16vw 0.7vw 0 0;
}

.ue .maillogo{
    width: 24px;
    margin: 16vw 1.5vw 0 0;
}


header nav ul{
    font-size: 1.2em;
    justify-content: right;
    list-style-type: none;
    display: flex;
    gap: 2em;
    margin: 0 1em 1em 0;
}

/* footer */
footer{
    background-color: #aaaaaa;
}

.yoko{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer ul{
    display: flex;
    list-style: none;
    gap: 1.5em;
}

.yoko ul a::after{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #555;
    bottom: -1px;
    visibility: hidden;
    opacity: 0;
}

.yoko ul a:hover::after{
    visibility: visible;
    opacity: 1;
    transition:1s;
}

.rogo21{
    width: 250px;
    text-align: left;
}

.las {
    text-align: right;
}
/* main */

main .subtitle{
    position: relative;
}


h2{
    font-size: 1.5em;
}


.mozimozi{
    font-size: 1.5vw;
    position: absolute;
    top: 24%;
    right: 59%;
}



h2{
    font-weight: normal;
    font-size: 2em;
}

h3{
    font-weight: lighter;
    font-size: 1.5em;
}



.sub img{
    width: 100%;
    }

.sub2{
        display: none;
    }


/* profile */


/* 一個目 */


.pro{
    margin: 5em 0 5em 0;
}

.pro h2{
    font-size: 2em;
    text-align: center;
    margin: 0 0 2em 0;
    font-weight: lighter;
}


.tate .image img{
    width: 120px;
}

.tate{
    text-align: center;
    margin: 0 0 2em 0;
}

.proflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 14vw 0 22vw;
}

.tate p{
    color: gray;
}

.text p{
    margin: 1em 0 2em 0;
}

/* 二個目 */
.pro1{
    margin: 5em 0 5em 0;
}

.tate2{
    text-align: center;
}

.tate2 p{
    color: gray;
}

.tate2 .image1 img{
    width: 120px;
}

.pro1 h2{
    font-size: 2em;
    text-align: center;
    margin: 0 0 2em 0;
    font-weight: lighter;
}

.proflex1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 16vw 0 22vw;

}

.text1 p{
    margin: 0 0 2em 0;
}



/* 三個目 */
.pro2{
    margin: 5em 0 5em 0;
}

.tate3{
    text-align: center;
}

.tate3 p{
    color: gray;
}

.tate3 .image2 img{
    width: 120px;
}

.pro2 h2{
    font-size: 2em;
    text-align: center;
    margin: 0 0 2em 0;
    font-weight: lighter;
}

.proflex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 13vw 0 22vw;
}

.text2 p{
    margin: 2em 0 2em 0;
}

/* portfolio */

/* 一段目 */

.pro3 h2{
    font-size: 2em;
    text-align: center;
    margin: 0 0 2em 0;
    font-weight: lighter;
}


.pro3 .first p img{
    cursor: pointer;
    transition: all 0.3s;
}

.pro3 .first p img:hover{
    transform: scale(1.1);
}

div .portfolio{
    list-style: none;
}

.bike{
    width: 36vw;
    box-shadow: 5px 5px 10px;
}

.bike img{
transition: all 0.3s;
}

.china1{
    width: 36vw;
    box-shadow: 5px 5px 10px;

}

.china2{
    width: 36vw;
    box-shadow: 5px 5px 10px;

}

.first{
    display: flex;
    justify-content: space-between;
    margin: 0 10vw 50px 10vw;

}

/* 二段目 */
.idan3{
    display: flex;
    justify-content: space-between;
    margin: 0 10vw 50px 10vw;
}

.idan2 p img{
    cursor: pointer;
    transition: all 0.3s;
}

.idan2 p img:hover{
    transform: scale(1.1);
}

.idan3 p img{
    cursor: pointer;
    transition: all 0.3s;
}

.idan3 p img:hover{
    transform: scale(1.1);
}

.ziko1{
    width: 36vw;
    box-shadow: 5px 5px 10px;
}

.ziko2{
    width: 36vw;
    box-shadow: 5px 5px 10px;
}


/* 三段目 */

.idan{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
    flex-wrap: wrap;
}

.idan p img{
    box-shadow: 5px 5px 10px;
}

.idan p img{
    cursor: pointer;
    transition: all 0.3s;
}

.idan p img:hover{
    transform: scale(1.1);
}

.idan2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 50px;
}

.idan2 p img{
    box-shadow: 5px 5px 10px;
}


/* --------------------------------------------------- */
@media screen and (max-width:767px) {
    /* header */

    /* header {
        text-align: center;
    } */

    header .ue .rogo img{
        width: 65%;
        margin: 0 0 0 15vw;
    }

    header .nav ul{
        gap: 1em;
    }

    header .nav ul li{
        font-family: Roboto;
        font-size:16px;
        font-weight: bold;
    }

    .nav ul li {
        margin: 0 auto;
    }

    .sub2 img{
        margin: 2em 0 2em 0;
        width: 100%;
    }

    .ue{
        flex-wrap: wrap;
    }

    .SNS{
        text-align: center;
        margin: 0 0 2em 80vw;
    }


    .ue .instagram{
        margin: 0 0.5em 0 0;
    }

    .ue .maillogo{
        margin: 0;
    }

    main h2{
        font-size: 20px;
    }

    .sub img{
        display: none;
    }

    .sub2 {
        display: block;
    }


    .mozimozi {
        writing-mode:vertical-rl;
        font-size: 3.5vw;
        position: absolute;
        top: 28%;
        right: 62%;
    }


    /* main */
    body{
        line-height: 1.0;
        font-size: 1em;
        font-family:
         "游ゴシック LIGHT","LINE Seed JP_TTF", sans-serif;
         font-weight: lighter;
        color: black;
    }
    


    body{
        font-size: 14px;
    }
    

    /* 一個目 */
    .pro{
        margin: 4em 0 2em 0;
    }

    .proflex{
        display: block;
        flex-wrap: wrap;
        margin: 0;
        text-align: center;
    }

    .pro h2{
        margin: 0 0 1em 0;
        font-weight: lighter;
    }

    .tate img{
        margin: 0 0 2em 0;
    }

    .tate .image img{
        width: 40px;
    }

    /* footer */
    .rogo21{
        /* width:200px ;
        display: flex ;
        margin: 0 0 0 50px; */
        display: none;
    }

    .yoko{
        display: flex;
        justify-content: center;
    }

    footer ul li{
        margin: 1em 0 0 0 ;
        font-size: 16px;
        font-weight: bold;
        font-family: Roboto;
    }


    /* 二個目 */
    .pro1{
        margin: 6em 0 2em 0;
    }

    .pro1 h2{
        margin: 0 0 1em 0;
        font-weight: lighter;
    }


    .proflex1{
        display: block;
        margin: 0;
        justify-content: center;
        text-align: center;
    }

    .tate2 .image1 img{
        width: 40px;
    }

    .tate2 img{
        margin: 0 0 2em 0;
    }

    footer .yoko ul{
        margin: 1em 10vw 0 0;
    }

    /* 三個目 */
    .pro2{
        margin: 6em 0 2em 0;
    }

    .pro2 h2{
        margin: 0 0 1em 0;
        font-weight: lighter;
    }

    .proflex2{
        display: block;
        margin: 0;
        text-align: center;
    }

    .tate3 .image2 img{
        width: 40px;
        justify-content: center;
    }

    .tate3 img{
        margin: 0 0 2em 0;
    }



    /* gallery */

    /* 一段目 */
    .pro3{
        margin: 6em 0 2em 0;
    }

    .first{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bike{
        width: 250px;
        margin: 0 0 50px 0;
    }

    .china1{
        width: 250px;
    }

    .china2{
        width: 250px;
    }

    /* 二段目 */
    .idan3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ziko1{
        width: 250px;
        margin: 0 0 50px 0;
    }

    .ziko2{
        width: 250px;
    }

}
